name: Lint

on:
  push:
    branches-ignore:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install Ruff
        run: pip install ruff

      - name: Run Ruff Lint
        run: |
          ruff check . --output-format=github

      - name: Run Ruff Format Check
        run: |
          ruff format . --check
