name: Pre-Commit Checks

on:
  pull_request:
    types: [ opened, reopened, synchronize ]

jobs:
  pre-commit-checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
            ref: ${{ github.head_ref }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "ruff>=0.14.4"
          pip install "pre-commit>=4.4.0"

      - name: Run pre-commit hooks
        run: pre-commit run --all-files
